.cssDivPrincipal{
    display: flex;
    align-content: center;
    align-items: center;
}

canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    background-image: url("../images/fundo.jpg");
}

.botoesMover{
    text-align:center;width:480px;
}
