body{
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
}

.areaTable{
    background:#292929;
    min-width: 800px;
    padding: 10px;
}

.ulTitle{
    display: flex;
    border:1px solid #fff;
    text-align: center;
    list-style: none;
}

.ulTitle li{
    flex: 1;
}

.ulConteudo{
    display: flex;
    list-style: none;
    border-bottom:1px solid #fff;
    text-align: center;
}

.ulConteudo li{
    flex: 1;
    padding-top: 0px;
    padding: 10px;
}

.btnInicio{
    padding: 5px;
    cursor: pointer;
}